@charset "utf=8";

/*-------------COLOR PALLET------------------*/

:root {
    --app-light-blue-bg: #b7cfff;
    --app-blue-bg: #8eadea;
    --app-blue-bg: #628de3;
    --app-dark-blue: #223f77;
    --app-pink-bg: #edb7ed;
    --app-medium-pink-bg: #a980a9;
    --app-dark-blue-bg: #1c2230;
    --app-light-gray-bg: #ababab;
    --app-dark-gray-bg: #141414;
    --app-gray-background-bg: #e9edf2;
    --app-white: #fff;
    --app-dark-overlay: rgb(20, 20, 20, 0.7);
    --app-border-gray: #bdb8b8;
    --app-header-bg: rgb(21, 28, 49);
}

/*---------SECTIONS BACKGROUND COLOR------------ */

.white-background {
    background-color: var(--app-white);
    padding: 60px 0;
}

.gray-background {
    background-color: var(--app-gray-background-bg);
    padding: 60px 0;
}

/*----------------BUTTONS-------------------*/

.btn p {
    margin: 0;
}

.btn-blue a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
    align-items: center;
    background-color: var(--app-blue-bg);
    font-size: 16px;
    font-weight: 500;
    color: var(--app-white);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-blue a:hover {
    margin-right: 10px;
    padding: 10px 25px 10px 25px;
    background-color: var(--app-dark-blue);
    font-size: 16px;
    font-weight: 500;
    color: var(--app-white);
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
}

/*--------------GENERAL STYLES-----------------*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    font-family:inherit;
    box-sizing: border-box;
}

html {
    min-width: 100%;
}

body {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: geometricPrecision;
    background-color: --app-dark-gray-bg;
    overflow:auto;
}

main {
    overflow: hidden;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display:flex;
}

.center {
    height: 100%;
    display: grid;
    place-items: center;  
}
    
h1 {
    font-size: 60px;
    font-weight: 400;
    color: var(--app-white);
    letter-spacing: 0.4px;
    line-height: 2;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--app-white);
    letter-spacing: 0.4px;
    line-height: 1.4;
    margin-bottom: 24px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--app-dark-gray-bg);
    letter-spacing: 0.4px;
    line-height: 1.4;
    margin-bottom: 24px;
}

p {
    font-size:16px;
    font-weight: 500;
    color: var(--app-dark-gray-bg);
}

a {
    color: var(--app-dark-gray-bg);
    text-decoration: none;
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

/*--------------HEADER----------------------*/

header {
    background-color:var(--app-header-bg);
    display: flex;
    height: 60px;
    overflow: hidden;
}

header div {
    width: 40%;
}

nav {
    width: 60%;
    text-align: right;

}

nav ul {
    list-style-type: none;
    font-size: 0px;
}

nav ul li {
    display: inline;
    line-height: 60px;
}

nav ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #fff;
    background-color: var(--app-dark-blue);

}

nav ul li + li {
    margin-left: 20px;
}

.logo {
    color: var(--app-white);
    line-height: 60px;
}

/*-----------------MAIN---------------------*/



 /*-------------HERO SECTION---------------*/
.hero {
    position: relative;
    width: 100%;
    height: calc(70vh - 60px);
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    mix-blend-mode:soft-light;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1); 
}

.content-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    align-items: center;
}

.content-video h1 {
    font-size: 42px;
    font-weight: 600;
    color: var(--app-white);
    letter-spacing: 0.4px;
    line-height: 1.2; 
    margin-bottom: 13px;   
}

.content-video p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 600;
    color: var(--app-white);
    letter-spacing: 0.4px;
    line-height: 1.2; 
    margin-bottom: 13px;   
}


/*--------------ABOUT SECTION------------------*/

.one-about { 
    background-color: none;
}

.two-about { 
    background-image: url('../img/about-picture.jpg'); 
    background-size: cover; 
    background-position: center;
    height: 300px;
    margin: 0;
}

.row-about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column-about {
    flex: 1 0 auto;
    width: 300px;
    box-shadow: 1px 1px 2px rgb (0 0 0 / 0.1);
    border-radius: 5px;
}


/*--------------FOOTER----------------------*/

footer {
    background-color: #f5f6f9;
    height: 60px;
}

.social-icons {
    width: 40%;
    text-align: left;
    line-height: 60px;
    vertical-align: baseline;
} 

.font-awesome i {
    font-size: 20px;
    color: #505464;
    padding: 6px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.font-awesome i:hover {
    font-size: 20px;
    color: #602AC8;
    padding: 6px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.copyright {
    width: 60%;
    line-height: 60px;
    vertical-align: baseline;
    text-align: right;
}

.copyright p {
    color: #505464;
    font-weight: 500;
}